/*
  /home/aolvera/immense-citadel-92163/TecmaMain/static/archivosTecma/App
*/

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Bold-webfont.woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Regular-webfont.woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Light-webfont.woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Amatics';
    src: url('fonts/AmaticSC-Regular.ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Amatics';
    src: url('fonts/AmaticSC-Bold.ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Agency';
    src: url('fonts/agency_fb.ttf');
    font-weight: 300;
    font-style: normal;
}
