{% extends "tecmabase.html" %}
{% load static %}
{% block titulo %} - Reclutamiento {% endblock %}
{% block user_tools %}
    Bienvenido, {{ username }}.<a href="/logoff">     Logoff</a> </p>
{% endblock %}

{% block breadcrumbs %}
    <a href="reclutadormain.html">Reclutamiento</a>
        >>  
    <a href="detalleproyecto.html?proyecto={{ proyectoID }}">Proyecto</a>
        >> Mi nueva casa
{% endblock %}

{% block content %}
    {% csrf_token %}
    
    <div class="row" style="height: 90%; margin-top: 1%;">
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="text-align: center;"></div>   
        <div id="videomain"class="col-xs-10 col-sm-10 col-md-10 col-lg-10" style="height: 100%; margin-top: 1%;">
            <video width="100%" height="100%" controls="true" autoplay="true">
                <source src="/static/archivosTecma/{{ videoTECMAfx }}" type="video/mp4"></source>
                <p> Video no soportado </p>
            </video>
        </div>      
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="text-align: center;"></div>        
    </div>
{% endblock %}

