{% extends "tecmabase.html" %}
{% load static %}
{% block titulo %} - Reclutamiento {% endblock %}
{% block user_tools %}
    Bienvenido, {{ username }}.<a href="/logoff">      Logoff</a>
{% endblock %}

{% block extrajscript %}
{% endblock %}
{% block breadcrumbs %} 
    <a href="reclutadormain.html">Reclutamiento</a>
        >>  
    <a href="detalleproyecto.html?proyecto={{ proyectoID }}">Proyecto</a>
        >> Mi Pago
{% endblock %}

{% block content %}
 
    <!-- Primera seccion del encabezado --> 
    <div id="sueldohdr" class="row" style="width: 100%;">
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
        <div id="icono_proyecto" class="col-xs-4 col-sm-4 col-md-2 col-lg-2" style="text-align: center; margin-top: 7%;">
            <img src="/static/archivosTecma/{{ proyectoDATA.proyecto_img }}" alt="{{ proyectoDATA.proyecto_nombre }}" width="100px" border="5">
        </div>
        <div id="texto_proyecto" class="col-xs-6 col-sm-6 col-md-8 col-lg-8" style="margin-top: 3%;">
            <h2 style="font-size: 25px; margin-bottom: 5%;"> {{ proyectoDATA.proyecto_descripcion }}</h2>
        </div>
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>      
    </div>
   
    <div align="center">
        <form action="./mipago.html" method="POST">
            {% csrf_token %}
            <select 
                name="selectpuesto" 
                class="selectpicker" 
                data-style="btn-default btn-block" 
                data-menu-style="dropdown-blue"
                style="font-size: 25px; font-weight: bold; width: 180px;">
                {% for puesto in puestos %}
                    <option value="{{ puesto.id }}"> {{ puesto.puesto_nombre }}</option>
                {% endfor %}
            </select>
            <input name="proyectoid" type="hidden" value="{{ proyectoID }}"/>
            <button 
                class="btn btn-primary" 
                type="submit"
                style="font-size: 20px; width: 100px; height: 100%;">
                    Buscar
            </button>            
        </form>
    </div>

<!-- +++++++++++++++ Tabla con resultados ++++++++++++++++++++++++++++++++++++++++++++++++++++++ --> 
    <div id="sueldodetalle" class="row" style="width: 100%; margin-top: 2%;">
        <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2"></div>
        <div class="col-xs-10 col-sm-10 col-md-8 col-lg-8">
            <table align="center" style="width: 80%;">
                    <tr>
                    <td colspan="3" 
                        style="text-align: center; font-size: 200%; font-weight: bold; background-color: #0091CA; color: white;">
                            Percepcion Semanal >>> {{sueldosDATA.1}}
                    </td>
                    </tr>
                    <tr class="renglonMonto">
                        <td class="catSueldo">Salario Diario</td>
                        <td class="montos">{{ sueldosDATA.2 }}</td>
                        <td class="detalle">Sueldo por dia</td>
                    </tr>
                    <tr class="renglonMonto">
                        <td class="catSueldo">Bono de Despensa</td>
                        <td class="montos">{{ sueldosDATA.3 }}</td>
                        <td class="detalle">Semanal</td>
                    </tr>
                    <tr class="renglonMonto">
                        <td class="catSueldo">Total en efectivo</td>
                        <td class="montos">{{ sueldosDATA.4 }}</td>
                        <td class="detalle"> Efectivo por semana</td>
                    </tr>       
                    <tr class="renglonMonto">                   
                        <td class="catSueldo">Total Semanal</td>
                        <td class="montos">{{ sueldosDATA.5 | floatformat:2 }}</td>
                        <td class="detalle">Efectivo + Bonos</td>
                    </tr>
            </table>         
        </div>
        <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2"></div>                   
    </div>
    
{% endblock %}