{% extends "tecmabase.html" %}
{% load static %}
{% block titulo %} - Coordinacion {% endblock %}
{% block user_tools %}
    Bienvenido, {{ username }}.<a id="salida" href="/logoff">     Logoff </a>
{% endblock %}

{% block breadcrumbs %} Coordinaci&oacuten {% endblock %}

<!-- Todo este contenido esta dentro de un DIV clase contenedor -->
{% block content %}
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
        <div><p class="titulos">Reclutadores</p></div>
            <button 
                type="button" 
                class="btn btn-info btn-lg"
                data-toggle="modal"
                data-target="#modalmetas"
                style="color: black;font-size: 25px; border-radius: 5px; width: 240px;"
                >
                <span class="glyphicon glyphicon-check"></span> Registro de metas
            </button>
            <br>
            <br>
            <button 
                type="button" 
                class="btn btn-info btn-lg"
                data-toggle="modal"
                data-target="#modalreportes"
                style="color: black;font-size: 25px; border-radius: 5px; width: 240px;"
                >
                <span class="glyphicon glyphicon-list"></span> Reporte de Metas
            </button>
            <br>
            <br>
            <button 
                type="button" 
                class="btn btn-info btn-lg"
                data-toggle="modal"
                data-target="#modalreclutados"
                style="color: black;font-size: 25px; border-radius: 5px; width: 240px;"
                >
                <span class="glyphicon glyphicon-list"></span>Listas de Reclutados
            </button>

        </div>    
        <div class="col-xs-6 col-sm-6 col-md-8 col-lg-8">      
            <canvas id="myChart" width="100%" height="40%"></canvas>
        </div>
    </div>
    
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">      
            <p>Comunicacion</p>
        </div>    
        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">      
            <p>Seccion 6</p>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">      
            <p>Seccion 7</p>        
        </div>
        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">      
            <p>Seccion 8</p>        
        </div>
    </div>
{% endblock %}

{% block modalview %}

    <!-- Modal Registro Metas -->
    <div id="modalmetas" class="modal fade" style="z-index: 99999;" role="dialog">
      <div class="modal-dialog" style="width: 40%;">
      <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-body">
              <form method="post" action="coordinarmain.html">
                {% csrf_token %}
                <table>
                    <tr>
                        <td>Fecha:</td>
                        <td>
                            <div class="input-group date" id="metasdate">
                                <input name="frmmetas_fecha" class="form-control selectfont" type="text"/>
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Proyecto</td>
                        <td>
                            <select name="frmmetas_proyecto" class="selectpicker selectfont">
                            {% for choice in form1.frmmetas_proyecto.field.choices %}
                                <option value="{{ choice.0 }}"> {{ choice.1 }}</option>
                            {% endfor%}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Puesto</td>
                        <td>
                            <select name="frmmetas_puesto" class="selectpicker selectfont" data-title="Select Job" data-style="" data-menu-style="dropdown-blue">
                            {% for choice in form1.frmmetas_puesto.field.choices %}
                                <option value="{{ choice.0 }}"> {{ choice.1 }}</option>
                            {% endfor%}
                            </select>                        
                        </td>
                    </tr>
                    <tr>
                        <td>Requeridos</td>
                        <td>
                            <input name="frmmetas_requeridos" class="selectfont" type="text"/>
                        </td>
                    </tr>
                    <tr>
                        <td>Asignar a:</td>
                        <td>
                            <select name="frmmetas_reclutador" class="selectpicker selectfont" data-title="Select Job" data-style="" data-menu-style="dropdown-blue">
                                {% for choice in form1.frmmetas_reclutador.field.choices %}
                                    <option value="{{ choice.0 }}"> {{ choice.1 }}</option>
                                {% endfor%}
                            </select>                          
                        </td>
                    </tr>            
                </table>  
                <input name="registroinput" id="registroinput" type="submit" value="Registrar">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </form>                      
          </div>
        </div>
    
      </div>
    </div>
    
    <!-- Modal Reportes -->
    <div id="modalreportes" class="modal fade" style="z-index: 99999;" role="dialog">
      <div class="modal-dialog" style="width: 40%;">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-body">
            <form method="post" action="coordinarmain.html">
                {% csrf_token %}
                <table>
                    <tr>
                        <td>Fecha:</td>
                        <td>
                            <div class="input-group date" id="repodate">
                                <input name="frmreporte_fecha" class="form-control  selectfont" type="text"/>
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Periodo</td>
                        <td>
                            <select name="frmreporte_periodo" class="selectpicker selectfont" data-title="Select Job" data-style="" data-menu-style="dropdown-blue">
                            {% for choice in form2.frmreporte_periodo.field.choices %}
                                <option value="{{ choice.0 }}"> {{ choice.1 }}</option>
                            {% endfor%}
                            </select>
                        </td>
                    </tr>                    
                    <tr>
                        <td>Proyecto</td>
                        <td>
                            <select name="frmreporte_proyecto" class="selectpicker selectfont" data-title="Select Job" data-style="" data-menu-style="dropdown-blue">
                            {% for choice in form2.frmreporte_proyecto.field.choices %}
                                <option value="{{ choice.0 }}"> {{ choice.1 }}</option>
                            {% endfor%}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Reclutador</td>
                        <td>
                            <select name="frmreporte_reclutador" class="selectpicker selectfont" data-title="Select Job" data-style="" data-menu-style="dropdown-blue">
                                {% for choice in form2.frmreporte_reclutador.field.choices %}
                                    <option value="{{ choice.0 }}"> {{ choice.1 }}</option>
                                {% endfor%}
                            </select>                          
                        </td>
                    </tr>            
                </table>  
                <input name="reporteinput" id="reporteinput" type="submit" value="Generar Reporte">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar Ventana</button>           
            </form>                       
          </div>
        </div>   
      </div>
    </div>
    
    <!-- Modal Listas de reclutados -->    
    <div id="modalreclutados" class="modal fade" style="z-index: 99999;" role="dialog">
      <div class="modal-dialog" style="width: 40%;">    
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-body">
            <form method="post" action="coordinarmain.html">
                {% csrf_token %}
                <table>
                    <tr>
                        <td>Fecha:</td>
                        <td>
                            <div class="input-group date" id="repolista">
                                <input name="frmreclutados_fecha" class="form-control  selectfont" type="text"/>
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Periodo</td>
                        <td>
                            <select name="frmreclutados_periodo" class="selectpicker selectfont" data-title="Select Job" data-style="" data-menu-style="dropdown-blue">
                            {% for choice in form3.frmreclutados_periodo.field.choices %}
                                <option value="{{ choice.0 }}"> {{ choice.1 }}</option>
                            {% endfor%}
                            </select>
                        </td>
                    </tr>                    
                    <tr>
                        <td>Proyecto</td>
                        <td>
                            <select name="frmreclutados_proyecto" class="selectpicker selectfont" data-title="Select Job" data-style="" data-menu-style="dropdown-blue">
                            {% for choice in form3.frmreclutados_proyecto.field.choices %}
                                <option value="{{ choice.0 }}"> {{ choice.1 }}</option>
                            {% endfor%}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Reclutador</td>
                        <td>
                            <select name="frmreclutados_reclutador" class="selectpicker selectfont" data-title="Select Job" data-style="" data-menu-style="dropdown-blue">
                                {% for choice in form3.frmreclutados_reclutador.field.choices %}
                                    <option value="{{ choice.0 }}"> {{ choice.1 }}</option>
                                {% endfor%}
                            </select>                          
                        </td>
                    </tr>            
                </table>  
                <input name="reportereclutados" id="reportereclutados" type="submit" value="Generar Lista">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar Ventana</button>           
            </form>                       
          </div>
        </div>   
      </div>
    </div>
{% endblock %}