{% extends "tecmabase.html" %}
{% load static %}
{% block titulo %} - Coordinacion {% endblock %}
{% block user_tools %}
    Bienvenido, {{ username }}.<a id="salida" href="/logoff">     Logoff </a>
{% endblock %}

{% block breadcrumbs %} <a href="coordinarmain.html">Coordinaci&oacuten</a> >> Reportes {% endblock %}

<!-- Todo este contenido esta dentro de un DIV clase contenedor -->
{% block content %}
    <h1>Resultados de reporte</h1>
    <br>
    <div id="tablareporte" style="height: 500px; overflow: auto; overflow-x: hidden;overflow-y: scroll;">    
        <table class="rawreporting" width="90%">
            <tr>
                <th>Fecha de Contacto</th>
                <th>Fecha de Entrevista</th>
                <th>Reclutador</th>
                <th>Proyecto</th>
                <th>Puesto</th>
                <th>Nombre</th>
                <th>Proceso RH</th>            
            </tr>        
            {% for i in listado %}
                <tr>
                    <td>{{ i.0 }}</td>
                    <td>{{ i.1 }}</td>
                    <td>{{ i.2 }}</td>
                    <td>{{ i.3 }}</td>
                    <td>{{ i.4 }}</td>
                    <td>{{ i.5 }}</td>
                    <td>{{ i.6 }}</td>            
                </tr>
            {% endfor%}
        </table>
    </div>
    <br>
    <button style="font-size: 20px; font-weight: bold; height: 40px; width: 160px; border-radius: 8px;" onclick="exportTableToCSV('members.csv')">Exportar a CSV</button>
    {{ listado }}
{% endblock %}
