/*
    Archivo CSS para metas reclutadormain
    /home/aolvera/immense-citadel-92163/TecmaMain/static/css    
*/

/*
 Definicion de font adicional:

   font-family: 'DiggityMedium'; 
   font-weight: normal; 
   font-style: normal; 
   
*/




@import url(fonts.css);

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

/* Style the header */
.header {
    background-color: #f1f1f1;
    padding: 50px;
    text-align: center;
}

/* Create three unequal columns that floats next to each other */
.column {
    float: left;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
}

/* Left and right column */
.column.side {
    width: 20%;
}

/* Middle column */
.column.middle {
    width: 60%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    max-height: calc(100% - 100px);    
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 10% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.buttonTecma {
    width: 70%;
    height: 100px;
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 6;
    -moz-border-radius: 6;
    border-radius: 6px;
    font-family: 'DiggityMedium'; 
    font-style: normal;     
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    position: relative;
    left: 18%;
}

#btnMetas{
    width: 100%;
    border-radius: 6px;
    font-size: 20%;
}

.buttonTecma::before{
    background-color: #ffffff;
}


.buttonTecma:hover{
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: underline;
}

#icono_proyecto {
    min-width: 100px;
    min-height: 100px;
}

.videostecma {
    display: block;
    width: 100%;
    height: 100%;
}

#googleMap {
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.catSueldo{
    width: 34%;
    font-size: 140%;
    text-align: right;
    font-weight: bold;
}

.montos{
    width: 32%;
    font-size: 160%;
    text-align: center;
    font-weight: bold;
    background-color: #FF9000;
}

.detalle {
    width: 34%;    
    font-size: 140%;
    font-weight: bold;
    background-color: #0EBFC3;
}

.renglonMonto{
    height: 100%;
}

/* Propiedades del modal metas */
.modal-metas{
    position: fixed;
    background-color: #ffff;
    border: 1px solid #000;
    left: 50%;
    -webkit-transform: translate()

}

/* Color para los hipervinculos de la barra de navegacion */
.offcolor{
    color: white;
}







